@import "./colors.scss";

* {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

body {
    background-color: $background;
}

input {
   border: none;
   outline: none;
}

button {
    background-color: $primary;
    color: $white;
    line-height: 40px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    border: none;

    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        color: $disabledColor;
        background-color: $disabledBackground;

        &:hover {
            opacity: 1;
        }
    }
}